html {
    direction: rtl;
    font-family: yekan;
    font-size: 20px;
    min-height: 100%;
}
#rigester {
    display: block;
    padding: 5%;
    width: 90%;
}
@font-face {
    font-family: Titr;
    src: url(./../fonts/Titr.ttf);
    font-family: yekan;
    src: url(./../fonts/Yekan.ttf);
}


input[type = submit]{
    background-color: chartreuse;
    border-radius: 15px;
    border: none;
    max-width: 200px;

}
input,textarea,select{
    padding: 5px;
    display: inline-block;
    width: 100%;
    font-family: yekan;
    margin: 5px 0px 0px 0px;
}
textarea,select {
    width: 101%;

}
select:first-child{
    color: rgb(114, 114, 114);
    }
img{
    width: 100px;
    height: 100px;
}
#information div{
    display: block;
}
div{
    display: flex;
    padding: 5%;

}


 /*
input[type = submit]{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: yekan,Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight: 500;
    height: 40px;
    width: 250px;
   line-height: 20px;
 list-style: none;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 5000ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

input[type = submit]:hover,
input[type = submit]:focus {
  background-color: #F082AC;
}
*/